.place__description {
  margin: 0 0 26px 0;
  word-wrap: break-word;
}

.place__description:last-of-type {
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .place__description {
    margin-left: 16px;
  }
}
